language: node_js
node_js:
  - node
branches:
  only:
    - master
notifications:
  email:
    recipients:
      - contact@emiliobool.com
    on_success: never 
    on_failure: always 
jobs:
  include:
    - stage: release
      node_js: 
        - "6"
        - "8"
        - "10"
        - "node"
      deploy:
        provider: script
        skip_cleanup: true
        script: npx semantic-release